<form method="POST" action="/new">
  <h2>Enter New Message</h2>
  <input type="text" name="username" placeholder="Name" />
  <input type="text" name="messageText" placeholder="Message..." />
  <button type="submit">Submit</button>
</form>
