<form method="POST" action="/new">
  <input type="text" name="username" placeholder="Name" />
  <input type="text" name="messageText" placeholder="What's on your mind?" />
  <button type="submit">Post</button>
</form>
