<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="/frontend/script.js"></script>
  </head>
  <body>
    <button id="theme-btn"><img class="icon" src="/icons/moon.svg" /></button>
    <h1>Mini Message Board</h1>
    <%- include('form') %>
    <ul class="message-container">
      <% messages.map((message) => { %>
      <li>
        <div>
          <h3><%= message.user %></h3>
          <p class="message"><%= message.text %></p>
        </div>
        <p class="date"><%= message.added %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
